@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

:root {
  --white: #ffffff;
  --yellow: #ffbf00;
  --darkgrey: #3b3b3b;
  --grey: #212121;
  --lightgrey: #616161;
  --green: #60a07f;
  --orange: #ffa500;
}

*,
*::before,
*::after {
  font-family: "Roboto Condensed", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--orange);
}

.wrapper-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 3rem auto;
  margin-bottom: 4rem;
}

.wrapper-child {
  max-width: 300px;
  width: 100%;
}

.calculator {
  border-radius: 1rem;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
}

.display {
  background: var(--darkgrey);
  padding: 1rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.calculator-display {
  width: 100%;
  border: 0px;
  background: var(--lightgrey);
  border-radius: 0.7rem;
  padding: 0.7rem;
  box-shadow: inset 2px 3px 5px 0px rgba(0, 0, 0, 0.7);
  outline: none;
}

.screen-previous,
.screen-current {
  display: block;
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  text-align: right;
}

.screen-previous {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--green);
}

.screen-current {
  font-size: 2rem;
  font-weight: 600;
  color: var(--white);
}

.buttons-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
  padding: 1rem;
  grid-gap: 0.7rem;
  background: var(--grey);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.buttons-grid button {
  font-size: 1rem;
  padding: 1rem 0;
  background: var(--lightgrey);
  border-radius: 100%;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.5);
  transition: all 0.3 ease-in-out;
  color: #dfdfdf;
}

button#equalBtn {
  grid-column: 3/5;
  border-radius: 2rem;
}

button:hover {
  color: var(--white);
  transform: translateY(-0.2rem);
}

footer {
  text-align: center;
}
